@import 'tailwindcss';

@import '@soerabaja/tokens/build/css/tema-gelap.css';
@import '@soerabaja/tokens/build/css/tema-terang.css';
@import '@soerabaja/tokens/build/css/tema-silau.css';

@theme {
  --color-permukaan-0: var(--semantik-permukaan-0);
  --color-permukaan-1: var(--semantik-permukaan-1);
  --color-permukaan-2: var(--semantik-permukaan-2);
  --color-permukaan-arsip: var(--semantik-permukaan-arsip);
  --color-permukaan-arsip-2: var(--semantik-permukaan-arsip-2);
  --color-permukaan-arsip-notifikasi: var(--semantik-permukaan-arsip-notifikasi);

  --color-teks-utama: var(--semantik-teks-utama);
  --color-teks-sekunder: var(--semantik-teks-sekunder);
  --color-teks-redup: var(--semantik-teks-redup);
  --color-teks-arsip: var(--semantik-teks-arsip);
  --color-teks-arsip-sekunder: var(--semantik-teks-arsip-sekunder);
  --color-teks-arsip-notifikasi: var(--semantik-teks-arsip-notifikasi);
  --color-teks-arsip-bahaya: var(--semantik-teks-arsip-bahaya);

  --color-aksi: var(--semantik-aksi-utama);
  --color-aksi-teks: var(--semantik-aksi-teks);
  --color-pencapaian: var(--semantik-pencapaian);
  --color-bahaya: var(--semantik-bahaya);

  --font-display: var(--font-big-shoulders-display), Anton, sans-serif;
  --font-ui: var(--font-plus-jakarta-sans), system-ui, sans-serif;
  --font-mono: var(--font-courier-prime), monospace;
}